<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restoraunt.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css"/>
</head>
<body onload="setLinksOutline()">
    <header>
        <div class="hr">
            <a class="main-logo" asp-controller="Home" asp-action="Index"></a>
            <ul class="hr">
                <li><a asp-controller="Home" asp-action="Index" class="navbar-link">О нас</a></li>
                <li><a asp-controller="Menu" asp-action="Index" class="navbar-link">Меню</a></li>
                <li><a class="navbar-link">Отзывы</a></li>
                <li><a class="navbar-link">Обратная связь</a></li>
            </ul>
        </div>
    </header>
    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - @ViewData["Title"] @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
